body {
	background-image: url("images/footballBackground.jpg");
}
.navbar-brand, p, h3 {
	color: white;
}

.main {
    left:50%;
    margin: 0 auto;
    text-align: center;
    padding: 20%;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
/*background image source: http://pichost.me/1906411/*/